<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOme page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>E-Commerce Website</header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
    <main>
      <form method="POST">
        <div><input name="username" /></div>
        <div><button>Add User</button></div>
      </form>
    </main>
  </body>
</html>
